.shop-container{
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.products-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;

}
.cart-container {
    background-color: #FFE4C4;
    margin-left: 15px;
    margin-right: 10px;
    border-radius: 10px;
    text-align: center;
    height: 580px;
    padding: 10px;
    position: sticky;
    top: 0;
}

.choose-and-select-btn {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}

.randomly-select-btn{
    background-color: #F74258;
    border:none;
    border-radius: 3px;
    padding:8px;
}

.select-again-btn{
    background-color: #E30047;
    border:none;
    border-radius: 3px;
    padding:8px;
    margin-top: 10px;
    
}
.cart-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FF6347;
    margin-top:5px;
    margin-bottom: 8px;
    border-radius: 8px;
}
.new-cart-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #D87093;
    margin-top:5px;
    margin-bottom: 8px;
    border-radius: 8px;
    
}
.watch-img{
    width:40px;
    border-radius: 50%;
    margin-right: 5px;
    
}



/*-------------------------------*\
Responsive Design
\*-------------------------------*/
/*-------------------------------*\
for mobile device
\*-------------------------------*/
@media screen and (max-width:576px){
    .shop-container {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }
   .products-container {
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       gap: 5px;
       margin-right: 10px;

   }
   .cart-container{
       height:550px;
   }
   .carts-product-name{
       font-size: 12px;
       
   }
 
}